body {
  background-color: #8f8d8d;
  font-family: 'Roboto', sans-serif;
}

.card-divider {
  background-color: #585858;
  padding: 10px;
  text-align: center;
}

.recipe {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: #585858;
}
.recipe h2 {
  margin-top: 0;
}
.recipe p {
  margin-bottom: 10px;
}
.recipe .button {
  margin: 10px;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.recipe .button:hover {
  background-color: #454545;
}

.top-bar {
  background: #585858;
  color: #000000;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.top-bar .button-group {
  margin-right: 10px;
}

.top-bar-right {
  display: flex;
  align-items: center;
}

.top-bar ul.menu {
  background-color: transparent;
}

.top-bar ul.menu li a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
}
.top-bar ul.menu li a:hover {
  background-color: rgba(143, 143, 143, 0.696);
  border-radius: 5px;
}

.top-bar-center {
  flex-grow: 1;
  text-align: center;
}

.recipe-card {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #1bae7b;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.card img {
  border: 10px #000000;
  border-radius: 20px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card {
  height: 550px;
  display: flex;
  flex-direction: column;
}

.card-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes-table {
  width: 100%;
  border-collapse: collapse;
}
.recipes-table th, .recipes-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.recipes-table th {
  background-color: #f2f2f2;
}
.recipes-table img {
  max-width: 200px;
  max-height: 200px;
}

.button-group {
  justify-content: center;
}

.recipes-table th:nth-child(2),
.recipes-table th:nth-child(4),
.recipes-table td:nth-child(2),
.recipes-table td:nth-child(4) {
  width: 80px;
}
