<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalii Reteta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<div class="grid-container">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Rețete bazate pe ingrediente</li>
                <li><a href="/">Acasa</a></li>
                <li><a href="/recipes">Retete</a></li>
                <li><a href="/about">Despre</a></li>
            </ul>
        </div>
    </div>

    <main>
        <h1>{{ recipe.titlu }}</h1>
        {% if recipe.imagine %}
        <img src="{{ url_for('static', filename=recipe.imagine) }}" alt="Imagine reteta">
        {% endif %}
        <h3>Ingrediente</h3>
        <ul>
            {% for ingredient in recipe.ingrediente %}
            <li>{{ ingredient.ingredient.nume }} - {{ ingredient.cantitate }}</li>
            {% endfor %}
        </ul>
        <h3>Instrucțiuni</h3>
        <p>{{ recipe.instructiuni }}</p>

        <h3>Lasă O Recenzie</h3>
        <form action="{{ url_for('recipe_detail', recipe_id=recipe.id) }}" method="post">
            <label for="nume">Nume:</label>
            <input type="text" id="nume" name="nume" required>
            <label for="nota">Nota:</label>
            <select id="nota" name="nota" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="comentariu">Comentariu:</label>
            <textarea id="comentariu" name="comentariu" rows="4" required></textarea>
            <button type="submit" class="button">Trimite Recenzia</button>
        </form>

        <!-- Display existing reviews -->
        <h3>Toate Recenziile</h3>
        {% for recenzie in recenzii %}
        <div>
            <strong>{{ recenzie.nume }}</strong> a apreciat cu {{ recenzie.nota }} stele
            <p>{{ recenzie.comentariu }}</p>
        </div>
        {% endfor %}
    </main>
</div>

<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
