<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toate Rețetele</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<div class="grid-container">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Rețete bazate pe ingrediente</li>
        <li><a href="/">Acasa</a></li>
        <li><a href="/recipes">Retete</a></li>
        <li><a href="/about">Despre</a></li>
      </ul>
    </div>

      <div class="top-bar-right">
        <form action="/recipes" method="get">
        <ul class="menu">
          <li><input type="search" name="search" placeholder="Search Recipes" value="{{ request.args.get('search', '') }}"></li>
          <li><button type="submit" class="button">Search</button></li>
        </ul>
        </form>
      </div>
  </div>

  <main>
    <div class="grid-container">
      <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
        {% if recipes %}
          {% for recipe in recipes %}
            <div class="cell">
              <div class="card workout">
                <div class="card-divider">
                  <h4>{{ recipe.titlu }}</h4>
                </div>
                <img src="{{ url_for('static', filename=recipe.imagine) }}" alt="Imagine rețetă">
                <div class="card-section">
                  <p>{{ recipe.instructiuni | truncate(150) }}</p>
                  <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}" class="button expanded">Vezi Reteta</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="cell">
            <p>No recipes found.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </main>
</div>

<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
